* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(255,165,191,1) 0%, rgba(255,237,198,1) 89%);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: rgba(255,165,191,1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: rgba(255,165,191,1);
    color: white;
}

